<div id="file-manager" class="w-full text-white">	
	<nav class="flex justify-between h-7 p-1 mb-3 bg-zinc-600" aria-label="Breadcrumb">
	  <ol id="breadcrumb" class="flex items-center px-1 overflow-auto">
	    
	  </ol>
	</nav>
	<ul id="files" class="py-2 w-full h-96 grid grid-cols-4 gap-3 text-center text-sm overflow-auto border-b border-zinc-600">
	</ul>
	<nav class="flex justify-between h-7 p-1 mb-3 bg-zinc-600">
		<div class="flex gap-3">
			<button id="kebab-file" class="hidden focus:text-zinc-300 hover:bg-zinc-700 focus:bg-zinc-600 focus:outline-none focus:ring-2 focus:ring-zinc-500" data-dropdown-toggle="dropdown-file">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
				  <path fill-rule="evenodd" d="M10.5 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" clip-rule="evenodd" />
				</svg>
			</button>
			<p id="property-file" class="text-sm"></p>
		</div>
		<div class="flex gap-3 px-3">
			<button id="move" class="hidden">
				<svg class="w-5 h-5 mx-auto" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M6 4v4h12V4h2.007c.548 0 .993.445.993.993v16.014a.994.994 0 0 1-.993.993H3.993A.994.994 0 0 1 3 21.007V4.993C3 4.445 3.445 4 3.993 4H6zm2-2h8v4H8V2z"/></svg>
			</button>
			<button class="focus:text-zinc-300 hover:bg-zinc-700 focus:bg-zinc-600 focus:outline-none focus:ring-2 focus:ring-zinc-500" data-modal-target="modal-file" data-modal-toggle="modal-file">
				<svg class="w-5 h-5 mx-auto" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16 2l5 5v14.008a.993.993 0 0 1-.993.992H3.993A1 1 0 0 1 3 21.008V2.992C3 2.444 3.445 2 3.993 2H16zm-5 9H8v2h3v3h2v-3h3v-2h-3V8h-2v3z"/></svg>
			</button>
			<button class="focus:text-zinc-300 hover:bg-zinc-700 focus:bg-zinc-600 focus:outline-none focus:ring-2 focus:ring-zinc-500" data-modal-target="modal-folder" data-modal-toggle="modal-folder">
				<svg class="w-5 h-5 mx-auto" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12.414 5H21a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h7.414l2 2zM11 12H8v2h3v3h2v-3h3v-2h-3V9h-2v3z"/></svg>
			</button>
		</div>
	</nav>
</div>

<!-- modal file -->
<div id="modal-file" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-modal">
  <div class="relative w-full max-w-2xl">
    <div class="relative rounded-lg shadow bg-zinc-700 p-3">
    	<div class="mb-6">
		    <label for="input-file" class="block mb-2 text-sm font-medium text-white">Filename: </label>
		    <input type="text" id="input-file" class="bg-zinc-600 border text-sm rounded-lg block w-full p-2.5 border-zinc-600 dark:placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
		  </div>
      	<button id="add-file" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
    </div>
  </div>
</div>

<!-- modal folder -->
<div id="modal-folder" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-modal">
  <div class="relative w-full max-w-2xl">
    <div class="relative rounded-lg shadow bg-zinc-700 p-3">
    	<div class="mb-6">
		    <label for="input-folder" class="block mb-2 text-sm font-medium text-white">Folder name: </label>
		    <input type="text" id="input-folder" class="bg-zinc-600 border text-sm rounded-lg block w-full p-2.5 border-zinc-600 dark:placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
		  </div>
      	<button id="add-folder" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
    </div>
  </div>
</div>

<!-- modal rename -->
<div id="modal-rename" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-modal">
  <div class="relative w-full max-w-2xl">
    <div class="relative rounded-lg shadow bg-zinc-700 p-3">
    	<div class="mb-6">
		    <label for="input-rename" class="block mb-2 text-sm font-medium text-white">rename: </label>
		    <input type="text" id="input-rename" class="bg-zinc-600 border text-sm rounded-lg block w-full p-2.5 border-zinc-600 dark:placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
		  </div>
      	<button id="rename" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
    </div>
  </div>
</div>

<!-- Dropdown menu -->
<div id="dropdown-file" class="z-10 hidden bg-zinc-700 divide-y divide-gray-100 rounded-lg shadow w-44">
  <ul class="py-2 text-sm text-gray-200" aria-labelledby="kebab-file">
    <li>
      <button id="open-on-pc" class="w-full px-4 py-2 hover:bg-zinc-500">Open on pc</button>
    </li>
    <li>
      <button id="dropdown-rename" class="w-full px-4 py-2 hover:bg-zinc-500" data-modal-target="modal-rename" data-modal-toggle="modal-rename">Rename</button>
    </li>
    <li>
      <button id="delete" class="w-full px-4 py-2 hover:bg-zinc-500">Delete</button>
    </li>
    <li>
      <button id="show-clipboard" class="w-full px-4 py-2 hover:bg-zinc-500">Move</button>
    </li>
  </ul>
</div>
